<!DOCTYPE html> <!--- View Registrar Usuario -->
<html lang="en" dir="ltr">
  <head>
        <% include import/viewhtmlHeader.ejs %>
        <link rel="stylesheet" href="css/standardStile.css">
        <link rel="stylesheet" href="css/registerStile.css">

  </head>
  <body>
    <body>
        <% include import/viewHeader.ejs %>
        <div class="container col-lg-6  ">
            <form class=" form-control editor" action="/editor"method="post"
                    enctype="multipart/form-data">
                    <h4 class= "text-center"> Registrar un nuevo usuario </h4>

                    <div class="form-group">
                        <label for="title">Nombre de usaurio: </label>
                        <input type="text" name="userName" id="userName"
                            class="form-control " placeholder="Nombre de Usuario"/>
                    </div>

                    <div class=" form-group ">
                        <label for="career"> Tipo de Usuario: </label>
                            <select name="career" id="career" class="form-control">
                              <option>  Operador </option>
                              <option>  Supervisor </option>
                            </select>
                    </div>

                    <div class="parallel form-group">
                        <label for="title">Nombre: </label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Nombre propio"/>
                    </div>

                    <div class="form-group">
                      <label for="title">Apellido: </label>
                      <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Apellido"/>
                    </div>

                    <div class="form-group">
                      <label for="title">contrase単a: </label>
                      <input type="password" name="password" id="password" class="form-control" placeholder="Contrase単a"/>
                    </div>

                    <div class="form-group">
                      <label for="title">repetir contrase単a: </label>
                      <input type="password" name="rePassword" id="rePassword" class="form-control" placeholder="Repite la contrase単a"/>
                    </div>

                    <div class="container text-center ">
                        <input type="submit" value= "guardar" class="btn btn-success">
                    </div>

                </form>
            </div>

        <% include import/BSConnect.ejs %>

    </body>
</html>
