<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <% include import/viewhtmlHeader.ejs %>
        <link rel="stylesheet" href="css/standardStile.css">
        <link rel="stylesheet" href="css/loginStile.css">
  </head>
  <body>
    <body>
    <% include import/viewHeader.ejs %>


     <div class="modal-dialog text-center">
       <div class="col-sm-12 main-section">
         <div class="modal-content">

           <h1 class="text-center ">
             SEN
           </h1>
           <p class="text-center center textBorder">
             Este es el SEN: Sistema Electrico Nacional, que viene a brindar un mejor y
             renovado servicio electrico para toda la nacion, generando mas megabatios
              y llegando a cada vez mas rincones del país
           </p>

           <div class="">
             <img src="img/torre.jpeg" width="250" height="150">
           </div>


         </div>
       </div>
     </div>

    <% include import/BSConnect.ejs %>

  </body>
</html>
