<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <% include import/viewhtmlHeader.ejs %>
        <link rel="stylesheet" href="css/standardStile.css">
  </head>
  <body>
    <body>
    <% include import/viewHeader.ejs %>

    <% include import/BSConnect.ejs %>

  </body>
</html>
