<!DOCTYPE html> <!--- View Registrar Usuario -->
<html lang="en" dir="ltr">
    <head>
        <% include import/viewhtmlHeader.ejs %>
        <link rel="stylesheet" href="../../css/standardStile.css">
        <link rel="stylesheet" href="../../css/registerStile.css">

    </head>
    <body>

        <% include import/viewHeader.ejs %>

        <% include import/partes/parteRegistrarAsociacion.ejs %>

        <script src="../../js/grafoValidation.js"></script>
        <% include import/BSConnect.ejs %>
    </body>
</html>
