<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include import/viewhtmlHeader.ejs %>
        <link rel="stylesheet" href="../css/standardStile.css">
        <link rel="stylesheet" href="../css/registerStile.css">

    </head>
    <body>

        <% include import/viewHeader.ejs %>

        <% include import/partes/parteListaAsociacion.ejs %>

        <script src="../js/paginaTabla.js"></script>
        <% include import/BSConnect.ejs %>
    </body>
</html>
